body{
    main{
        #panier{
            width: 90%;
            margin: auto;
            margin-top: 5vh;
            margin-bottom: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;


            #tbPanier{
                caption{
                    color: $color-text-jaune;
                    font-size: 20px;
                    padding-bottom: 20px;
                }
                th{
                    color: $color-text-gris;
                    font-size: 12px;
                    border-bottom: 1px solid $color-text-gris;
                }
                img{
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }
                .libel{
                    font-size: 12px;
                    color: $color-text-gris;
                }
                .prixJaune{
                    font-size: 12px;
                    color: $color-text-jaune;
                }
            }
            .bordure{
                border-bottom: 1px solid $color-text-gris;
            }
            .tbActions{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 30px;
                
                label{
                    color:$color-text-jaune; 
                    font-size: 12px;
                    margin-right: 10px;
                    input{
                        border: none;
                        color:$color-text-gris;
                        font-size: 12px;
                        width: 50px;
                    }
                }
                a{
                    text-decoration: none;
                    color: $color-text-jaune;
                    font-size: 12px;
                    &:hover{
                        color:$color-text-gris;
                    }
                }
            }
        }
        #formulaire{
            width: 90%;
            margin: auto;
            margin-top: 5vh;
            margin-bottom: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;

            form{
                border-width: 2px;
                border-color: $bord-color-jaune;
                border-style: solid;
                border-radius: 57px;
                background-color: $bg-color-gris; 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; 
                text-align: center;
                fieldset{
                    border: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left; 
                    text-align: center;
                    gap: 10px;
                    margin-left: 25px;
                    margin-right: 25px;

                    legend{
                        color: $color-text-gris;
                        padding-top: 60px;
                        padding-bottom: 10px;
                        
                    }

                    input{
                        border: none;
                        background-color: transparent;
                        border-bottom: 2px solid $color-text-jaune;
                        color: $color-text-gris;
                        font-size: 16px;
                        
                        &:focus{
                            border: 2px solid $color-text-jaune;
                        }
                    }
                }
                .bouton {
                    border-radius: 10px;
                    border: none;
                    color: $color-text-jaune;
                    font-size: 16px;
                    font-weight: normal;
                    padding: 8px 16px;
                    margin-top: 20px;
                    margin-bottom: 15px;
                    background-color: rgba(230,230, 230, 1);
                    background-image: linear-gradient(to top left,
                                                    rgba(0, 0, 0, .2),
                                                    rgba(0, 0, 0, .2) 30%,
                                                    rgba(0, 0, 0, 0));
                    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                                inset -2px -2px 3px rgba(0, 0, 0, .6);

                    &:hover {
                        background-color: rgba(192,192, 192, 1);
                        color: $bord-color-jaune;
                    }

                    &:active {
                        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                                    inset 2px 2px 3px rgba(0, 0, 0, .6);
                    }
                }
            }
        }
    }
}