@media screen and (min-width: 1200px) {
    body{
        main{
            section{
                .image{
                    margin-top: 5vh;
                    margin-bottom: 5vh;
                    img{
                        width: 100%;
                    }
                }
    
                .pub{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 100px;
                    .imgCadre{
                        width: 300px;
                        height: 600px;
                        border-width: 2px;
                        border-color: $bord-color-jaune;
                        border-style: solid;
                        border-radius: 57px;
                        background-color: $bg-color-gris;  
                        text-align: center; 
                        img{
                            padding-top: 60px;
                            width: 200px;
                        }
                        p{
                            padding-top: 60px;
                            padding-left: 30px;
                            padding-right: 30px;
                            font-size: 24px;
                            color: $color-text-gris;
                            font-weight: 500;
                            line-height: 1.2;
                        }
                    }
                    .new_best{
                        display: flex;
                        flex-direction: row;
                        gap: 50px;
                        
                        .newbest{
                            .nb_cadre{
                                margin-top: 15px;
                                width: 300px;
                                height: 200px;
                                border-width: 2px;
                                border-color: $bord-color-jaune;
                                border-style: solid;
                                border-radius: 57px;
                                background-color: $bg-color-gris;  
                                text-align: center; 

                                .nb_cadre_produit{
                                    padding-bottom: 3vh;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 30px;
                                    img{
                                        padding-left: 30px;
                                        width: 80px;
                                    }
                                    .nb_text{
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        text-align: left;
        
                                        .nblibel{
                                            font-size: 18px;
                                            font-weight: bold;
                                            color: $color-text-gris;
                                            line-height: 1.2;
                                        }
                                        .nbprix{
                                            padding-top: 6px;
                                            font-size: 18px;
                                            font-weight: bold;
                                            color: $color-text-jaune;
                                            line-height: 1.2;
                                        }
                                    }
                                }
                            }
                        }
    
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    body{
        main{
            section{
                .image{
                    margin-top: 5vh;
                    margin-bottom: 5vh;
                    img{
                        width: 100%;
                    }
                }
    
                .pub{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    .imgCadre{
                        width: 200px;
                        height: 400px;
                        border-width: 2px;
                        border-color: $bord-color-jaune;
                        border-style: solid;
                        border-radius: 57px;
                        background-color: $bg-color-gris;  
                        text-align: center; 
                        img{
                            padding-top: 40px;
                            width: 140px;
                        }
                        p{
                            padding-top: 40px;
                            padding-left: 10px;
                            padding-right: 10px;
                            font-size: 18px;
                            color: $color-text-gris;
                            font-weight: 500;
                            line-height: 1.2;
                        }
                    }
                    .new_best{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 50px;
                        .newbest{
                            .nb_cadre{
                                margin-top: 15px;
                                padding-top: 5vh;
                                padding-bottom: 5vh;
                                width: 320px;
                                height: 160px;
                                border-width: 2px;
                                border-color: $bord-color-jaune;
                                border-style: solid;
                                border-radius: 57px;
                                background-color: $bg-color-gris;  
                                text-align: center; 

                                .nb_cadre_produit{
                                    padding-bottom: 3vh;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 30px;
                                    img{
                                        padding-left: 30px;
                                        width: 80px;
                                    }
                                    .nb_text{
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        text-align: left;
                                        .nblibel{
                                            font-size: 18px;
                                            font-weight: bold;
                                            color: $color-text-gris;
                                            line-height: 1.2;
                                        }
                                        .nbprix{
                                            padding-top: 6px;
                                            font-size: 18px;
                                            font-weight: bold;
                                            color: $color-text-jaune;
                                            line-height: 1.2;
                                        }
                                    }
                                }

                            }
                        }
    
                    }
                }
            }
        }
    }
}