@media screen and (min-width: 1200px) {
.container {
    width: 90%;
    display: flex;

    .fleche {
        display: inline-block;
        width: 40px;
        margin: 3vh;
    }
    #carousel {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
.containerdot{
    display: flex;
    justify-content: center;
}
.divdot {
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: inline-block;
    flex-direction: row;
    gap: 2vh;
    a {
        color: $color-text-gris;
    }
    a:hover {
        color: $color-text-jaune;
    }
}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    
}