@media screen and (min-width: 1200px) {
    body{
        main{
            section{
                .services{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center; 
                    gap: 25px;
                }
            }
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    body{
        main{
            section{
                .services{
                    width: 600px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    gap: 55px;
                    .service{
                        width: 200px;
                    }

                }
            }
        }
    }

}