* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}
body header {
  background-color: #302c19;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
body header img {
  padding: 10px 10px 10px 20px;
  height: 34px;
}
body header .desk {
  display: none;
}
body header .desk .desk_menu {
  display: none;
}
body header .desk .desk_icons {
  display: none;
}
body header .aeraMenuBurger {
  display: block;
  width: 100px;
}
body header .aeraMenuBurger .burger {
  display: block;
}
body header .aeraMenuBurger .cache {
  display: none;
}
body header .aeraMenuBurger .affiche {
  display: flex;
  flex-direction: column;
  position: relative;
}
body header .aeraMenuBurger .affiche .menuBurger {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  z-index: 10;
  background-color: #302c19;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 0 0 8px 8px;
}
body header .aeraMenuBurger .affiche ul li {
  padding-left: 10px;
}
body header .aeraMenuBurger .affiche ul li a {
  word-break: break-all;
}

body main #panier {
  width: 90%;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #panier #tbPanier caption {
  color: #ffd700;
  font-size: 20px;
  padding-bottom: 20px;
}
body main #panier #tbPanier th {
  color: #838383;
  font-size: 12px;
  border-bottom: 1px solid #838383;
}
body main #panier #tbPanier img {
  width: 50px;
  height: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
body main #panier #tbPanier .libel {
  font-size: 12px;
  color: #838383;
}
body main #panier #tbPanier .prixJaune {
  font-size: 12px;
  color: #ffd700;
}
body main #panier .bordure {
  border-bottom: 1px solid #838383;
}
body main #panier .tbActions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
body main #panier .tbActions label {
  color: #ffd700;
  font-size: 12px;
  margin-right: 10px;
}
body main #panier .tbActions label input {
  border: none;
  color: #838383;
  font-size: 12px;
  width: 50px;
}
body main #panier .tbActions a {
  text-decoration: none;
  color: #ffd700;
  font-size: 12px;
}
body main #panier .tbActions a:hover {
  color: #838383;
}
body main #formulaire {
  width: 90%;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #formulaire form {
  border-width: 2px;
  border-color: #ffef99;
  border-style: solid;
  border-radius: 57px;
  background-color: #f5f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body main #formulaire form fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: center;
  gap: 10px;
  margin-left: 25px;
  margin-right: 25px;
}
body main #formulaire form fieldset legend {
  color: #838383;
  padding-top: 60px;
  padding-bottom: 10px;
}
body main #formulaire form fieldset input {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ffd700;
  color: #838383;
  font-size: 16px;
}
body main #formulaire form fieldset input:focus {
  border: 2px solid #ffd700;
}
body main #formulaire form .bouton {
  border-radius: 10px;
  border: none;
  color: #ffd700;
  font-size: 16px;
  font-weight: normal;
  padding: 8px 16px;
  margin-top: 20px;
  margin-bottom: 15px;
  background-color: #e6e6e6;
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
body main #formulaire form .bouton:hover {
  background-color: silver;
  color: #ffef99;
}
body main #formulaire form .bouton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

body footer {
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin-left: 5vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
body footer p {
  color: #838383;
}
body footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
body footer ul li {
  color: #838383;
}

@media screen and (min-width: 1200px) {
  body header img {
    padding: 20px 20px 20px 60px;
    height: 80px;
  }
  body header .desk {
    padding-right: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
  }
  body header .desk .desk_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding-right: 15vh;
  }
  body header .desk .desk_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }
  body header .desk a {
    color: white;
  }
  body header .desk a:hover {
    color: #ffd700;
  }
  body header .aeraMenuBurger {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  body header img {
    padding: 20px 20px 20px 30px;
    height: 60px;
  }
  body header .desk {
    display: none;
  }
  body header .desk .desk_menu {
    display: none;
  }
  body header .desk .desk_icons {
    display: none;
  }
  body header .burger {
    padding: 20px 30px 20px 20px;
    display: block;
  }
}/*# sourceMappingURL=stylepanier.css.map */